<!DOCTYPE html>
 <html>
 <head>
   <title>Student Info</title>

  <style>

   body{
   background-color : rgb(119, 232, 234);
   background-size: cover;
   text-align: center;
   font-weight: bold;
   font-size: larger;
  }

  a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }

  a:hover, a:active {
  background-color: red;
  }

  </style>

 </head>
 <body>
 <br><h1>{{msg}}</h1><br><br>
 
 <br><h1>{{data[1]}}</h1><br><br>
 <br><h1>{{data[2]}}</h1><br><br>
 <br><h1>{{data[3]}}</h1><br><br>
 <br><h1>{{data[4]}}</h1><br><br>
 <br><h1>{{data[5]}}</h1><br><br>


 
 
 
 </body>
 </html> 